<footer class="site-footer">
  <section>
  <h2>© {{ currentYear }} Natalia Vianna | Product Manager</h2>


  <div class="contact-links">
    <!-- E-mail -->
    <a href="mailto:natalia.viannao@gmail.com" target="_blank" rel="noopener">
      <span nz-icon nzType="mail" nzTheme="outline"></span>
      natalia.viannao@gmail.com
    </a>
  
    <!-- GitHub -->
    <a href="https://github.com/nataliavianna" target="_blank" rel="noopener">
      <span nz-icon nzType="github" nzTheme="outline"></span>
      GitHub
    </a>
  
    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/in/natalia-vianna" target="_blank" rel="noopener">
      <span nz-icon nzType="linkedin" nzTheme="fill"></span>
      LinkedIn
    </a>
  </div>
</section>

</footer>
