<nz-layout class="app-layout">
  <nz-content>
    <nz-header class="header container">
      <div class="logo">
        <a>
          <h1>Natalia Vianna | <label class="gray-text">Product Manager</label></h1>
        </a>
      </div>
      <div class="menu-buttons">
        <a nz-button nzType="primary" routerLink="/homepage">Home</a>
        <a nz-button nzType="primary" routerLink="/about">About</a>
        <a nz-button nzType="primary" routerLink="/projects">Projects</a>
      </div>
    </nz-header>
  </nz-content>
</nz-layout>
