@import 'ng-zorro-antd/ng-zorro-antd.min.css';

.container {
    max-width: 1200px;
    margin: 0 auto;   
}
.centered-content {
    max-width: 1200px;
    margin: 0 auto;   
    padding: 24px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    background: white;
  }
  
  .centered-content .intro,
  .centered-content .achievements,
  .centered-content .contact {
    width: 100%;
  }

  app-homepage, app-about, app-projects {
    width: 100%;
  }

h1, h2, h3, h4, h5 {
    font-family: 'Lora', serif !important;
}
.text-center {
    text-align:center !important;
}
section {
    padding:100px 0 !important;
}

.app-layout {
    background: #f5f5f5;
}

  
.page-title {
    margin-top:50px;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0px;
    text-align: center;
}