@import 'ng-zorro-antd/ng-zorro-antd.min.css';
/* You can add global styles to this file, and also import other style files */
.centered-content {
    max-width: 1200px; /* ou 900px, se preferir mais estreito */
    margin: 0 auto;    /* centraliza horizontalmente */
    padding: 24px;     /* espaçamento interno */
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza elementos filhos */
    text-align: center;  /* centraliza o texto */
    background: white;
  }
  
  .centered-content .intro,
  .centered-content .achievements,
  .centered-content .contact {
    width: 100%;
  }

  app-homepage {
    width: 100%;
  }